/* ==========================================================================
   Table of Contents
   ========================================================================== */


/*
    1.   General
    2.   Header
    3.   Footer
    ---  Wheel Pages  ---
    4.1  Wheel Brands Page
    4.2  Wheel Detail Page
    ---  Tire Pages   ---
    5.1  Tire Brands Page
    5.2  Tire Detail Page
    ---  Gallery Pages  ---
    6.1  Gallery Header
    6.2  Gallery Landing Page
    6.3  Gallery Detail Page
    ---  Other Pages  ---
    7.1  Home Page
    7.2  Contact Page
    7.3  Dealers Page
    7.4  News Pages
    7.5  Configurator Page
*/


/* ==========================================================================
   1. General (Foundation Overrides)
   ========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h1,
h2,
h3 {
    color: #000000;
    text-transform: uppercase;
    line-height: 1;
}

h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 5.44rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h5 {
    font-size: 2.09rem;
}

h6 {
    font-size: 1.15rem;
}

.h1 {
    font-size: 1.5rem;
}

.h2 {
    /*font-size: 1.25rem;*/
    font-size: 1.8rem;
    font-weight: 700;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #999;
}

p,
a {
    font-size: 1rem;
}

p {
    /*padding:.5rem 0;*/
}

a {
    color: #ff7200;
}

a:hover {
    color: #666666;
}

ul {
    margin: 0;
    text-decoration: none;
}

table {
    min-width: 100%;
    margin-bottom: 0;
    border: 0;
}

table tr td,
table thead tr th {
    text-align: center;
}

table thead tr th {
    color: #fefefe;
    background: #707070;
}

.bg-img {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    max-width: 100%;
}

.black-font {
    color: #333;
}

.black-font.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.wheel-paragraph {
    color: #000;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-right: 1rem;
}

.wheel-paragraph--limit {
    line-height: 1.2em;
    overflow: hidden;
    margin-bottom: 0;
}

.wheel-size--limit {
    line-height: 1.2em;
    overflow: hidden;
    margin-bottom: 0;
}

.wheel-paragraph--height {
    height: 6em;
}

.wheel-size--height {
    height: 6em;
}

.red {
    color: #ff4747;
}

.red-bg {
    background-color: #ff4747;
}

.orange {
    color: #ff7200;
}

.orange-bg {
    background-color: #ff7200;
}

.white {
    color: #fefefe;
}

.button {
    font-weight: bold;
    background-color: #ff7200;
}

.button.no-margin {
    margin-bottom: 0;
}

.button.secondary {
    background-color: #e7e7e7;
    color: #323232;
}

.black,
.button.black {
    background-color: #000000;
}

.button,
.text-uppercase {
    text-transform: uppercase;
}

.button:hover {
    background-color: #000000;
}

.button.hollow.white {
    color: #fefefe;
    border: 1px solid #fefefe;
}

.button.hollow.white:hover {
    border-color: #ff7200;
    background-color: #ff7200;
}

.button-group .button {
    padding-right: 0;
    padding-left: 0;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-heavy {
    font-weight: 900;
}

.font-italic {
    font-style: italic;
}

.g-recaptcha {
    margin-bottom: 0.5rem;
    display: inline-block;
}

#captchaCheck {
    float: left;
    margin-left: 1rem;
    text-transform: uppercase;
}

.padded,
.products-list .padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padded.extra {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padded.short {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padded-left {
    padding-left: .5rem;
}

.padded-right {
    padding-right: .5rem;
}

.fb-share-button {
    vertical-align: super;
}

.accordion .accordion-navigation>.content {
    padding-right: 0;
    padding-left: 0;
}

.accordion-item:first-child>:first-child {
    font-weight: 700;
}

.anchor {
    position: relative;
    top: -3rem;
    display: block;
    visibility: hidden;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.menu.simple>li>a {
    padding: 0;
}

.row {
    max-width: 80rem;
}

.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}

.not-transparent {
    background-color: rgba(0, 0, 0, 1);
}

.title-bar,
.top-bar {
    padding: 0;
}

.top-bar,
.top-bar ul {
    background-color: transparent;
}

.menu>li:not(.menu-text) {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.09rem;
}

.menu>li:not(.menu-text).is-dropdown-submenu-parent {
    padding-left: .6rem;
    padding-right: .6rem;
}

.menu>li:not(.menu-text).is-dropdown-submenu-parent:hover {
    color: #ff7200;
    cursor: pointer;
}

.menu>li:not(.menu-text)>a {
    padding: 1rem .5rem;
    font-size: 1.09rem;
}

.top-bar ul.is-dropdown-submenu {
    background-color: rgba(0, 0, 0, 1);
    border: 0px;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow>a::after {
    right: 0px;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a {
    padding-right: .6rem;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    border-color: #ff7200 transparent transparent;
    right: 0px;
    display: none;
}

.dropdown.menu.vertical>li.opens-right>a::after {
    border-color: transparent transparent transparent #ff7200;
    right: 5px;
}

.dropdown.menu>li>a:hover,
.dropdown.menu>li>ul li a:hover,
.dropdown.menu>li.is-active>a {
    color: #ff7200;
}

.dropdown.menu>li>ul li a {
    padding: 1rem 2rem;
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    top: 186%;
    min-width: 280px;
    padding-bottom: 20px;
}

/*.int.site-content {padding-top:127px;}*/
.int.site-content h1 {
    font-weight: 900;
    font-size: 3.75rem;
}

.int.site-content .h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

address {
    font-style: normal;
}

#instafeed .column {
    padding: 1px;
}

#instafeed img {
    width: 100%;
}

/*min-width 641px, medium screens*/
@media only screen and (min-width: 40.063em) {
    .int.site-content .h2 {
        font-size: 2.6rem;
    }
}

/* Video Player*/
/*** VIDEO ***/
/*#videos{
    margin-top:3rem;
}
#videos a:hover{
    color:$color;
}
#videos a::before {
    background: rgba(255, 255, 255, 0);
}
#videos p{
    font-size:1.6rem;
}
#videos #next-button{
    background-color: $color;
}
#videos #video-container .column a {
    position: relative;
    display: block;
}*/
/*.fa-youtube-play{
    display:block;
    color:#ff7200;
    position:absolute;
    top:33%;
    width:100%;
}*/
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size:
            /*2.1rem*/
            1.5rem;
    }

    h3 {
        font-size:
            /*2rem;*/
            1.4rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .int.site-content h1 {
        font-size: 2rem;
        line-height: 1;
    }
}

@media screen and (min-width: 641px) {
    .int.site-content h1 {
        line-height: 1.4;
    }
}

@media screen and (max-width: 1023px) {
    .int.site-content {
        margin-top: 0px;
    }
}

/* ==========================================================================
   2. Header
   ========================================================================== */

.menu>li.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

.menu>li.desktop-only {
    display: table-cell;
}

header {
    /*background-color:rgba(0,0,0,.7);*/
    display: block;
}

header .top-bar {
    padding: 15px 0 10px;
    background: url('/images/tear-header.png') bottom left no-repeat;
}

header .top-bar a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

header .top-bar-title {
    float: left;
}

/*header .top-bar-title img {max-width:200px;}*/
/*header .header-logo {width:200px; position:relative; height:1px; top:-16px;}*/
/*header .header-logo > a {position:absolute;z-index:10;}*/
header .header-logo a {
    font-size: .86rem;
    text-transform: none;
    color: #a3a3a3;
}

header .top-bar .top-bar-left {
    font-family: 'Montserrat', sans-serif;
}

header .top-bar .top-bar-left ul ul {
    width: 100%;
}

header .top-bar .top-bar-left ul ul .row {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

header .top-bar .top-bar-left ul ul div div {
    border-right: 1px solid #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}

header .top-bar .top-bar-left ul ul div div:last-child {
    border: none;
}

header .top-bar .top-bar-left ul ul .nav-drop-title a span {
    font-weight: 700;
    color: #ff7200;
    text-transform: uppercase;
    font-size: 1.33rem;
}

header .top-bar .top-bar-left ul ul .nav-drop-title {
    font-weight: 700;
    color: #ff7200;
    text-transform: uppercase;
    font-size: 1.33rem;
}

header .top-bar .hp-btn-links a {
    font-size: 1.2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin-left: 8px;
}

header .top-bar .top-bar-right .desktop-only li:last-child {
    border-right: 0px;
}

header .top-bar .top-bar-right .nav-social li {
    display: inline-block;
    padding-left: 10px
}

header .top-bar .top-bar-right .nav-social a {
    padding: 8px 5px;
    border-radius: 100%;
    color: #666666;
    font-size: 1.5rem;
    border: 2px solid #666666;
}

header .top-bar .top-bar-right .nav-social .fa {
    width: 33px;
    text-align: center;
    margin-right: 0;
}

.header-contact {
    padding-right: 10px;
}

.header-contact h5 {
    color: #ff7200;
    font-size: 1rem;
}

.header-contact h2 {
    color: #ffffff;
    padding: 0;
    font-size: 2.1rem;
}

/* mobile */
.menu-icon.dark {
    width: 30px;
}

.menu-icon.dark:hover:after,
.menu-icon.dark:after {
    background: #ff7200;
    box-shadow: 0 7px 0 #ff7200, 0 14px 0 #ff7200;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    header .top-bar-title img {
        width: 55%;
    }

    .menu>li:not(.menu-text).is-dropdown-submenu-parent {
        padding: .5rem 27px;
    }

    .menu>li:not(.menu-text)>a {
        padding: .7rem .5rem;
    }

    header .top-bar {
        padding: 20px 0;
        background: transparent;
    }

    header .top-bar .top-bar-left {
        padding-top: 20px;
    }


}

@media only screen and (max-width: 1023px) {
    /*header .top-bar a {color:#333333;}*/
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
    header .top-bar-title img {
        width: 40%;
    }
}

@media screen and (max-width: 1023px) {
    .menu>li.mobile-only {
        display: block;
    }

    .desktop-only,
    .menu>li.desktop-only {
        display: none;
    }

    header {
        padding: 0;
        background-color: #000000;
    }

    header.fixed {
        position: inherit;
    }

    header .top-bar-title {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        height: auto !important;
    }

    header .top-bar-title span {
        float: right;
    }

    header .top-bar .top-bar-left {
        padding-top: 20px;
    }

    header .top-bar .top-bar-left li {
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #eeeeee;
    }

    header .top-bar .top-bar-left ul li:first-child {
        border-top: 1px solid #eeeeee;
    }

    header .top-bar .top-bar-left ul ul .nav-drop-title a span,
    header .top-bar .top-bar-left ul ul .nav-drop-title {
        font-size: 1rem;
    }

    header .top-bar .top-bar-left ul ul li a {
        font-size: 1rem !important;
    }

    header .top-bar .top-bar-left ul ul div div {
        border-right: 0;
        margin: 0;
    }

    header .top-bar .top-bar-left ul ul div div:last-child {
        border: none;
    }

    header .top-bar .top-bar-left,
    header .top-bar .top-bar-right {
        border-right: 0px;
        width: 100%;
    }

    header .top-bar .top-bar-right {
        padding: 10px 20px 20px;
    }

    .menu-icon::after {
        background-color: #999999;
        box-shadow: 0 7px 0 #999999, 0 14px 0 #999999;
    }

    .menu>li {
        display: inherit;
    }

    .dropdown.menu .submenu {
        position: relative;
        border: 0;
    }

    header .top-bar .top-bar-left .dropdown.menu .submenu li {
        padding-left: 0;
        padding-right: 0;
        border-bottom: 0;
        border-top: 1px solid #eeeeee;
    }
}

@media screen and (max-width: 1105px) {
    header .top-bar .top-bar-left {
        border: 0;
    }

    header .top-bar .top-bar-left ul ul li a {
        font-size: 1.33rem;
    }

}

@media only screen and (max-width: 1212px) {
    header .top-bar a {
        font-size: 1rem;
    }

    /*header .top-bar .top-bar-right .menu>li:not(.menu-text)>a {padding:0 .17rem!important;}*/
}

@media only screen and (min-width:64em) and (max-width:1176px) {
    header .top-bar-right {
        display: none;
    }

    header .header-logo {
        margin-left: 20px;
    }
}

@media only screen and (min-width:64em) and (max-width:1292px) {

    .menu>li:not(.menu-text)>a,
    .menu>li:not(.menu-text) {
        font-size: .85rem;
    }
}

@media only screen and (min-width:1023px) {
    header .top-bar .top-bar-left {
        float: right;
    }

    header .top-bar-title {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1262px) {
    header .top-bar .top-bar-left {
        padding-right: 0;
    }

    /*header .top-bar .top-bar-right .menu>li:not(.menu-text)>a {padding:0 .24rem;}*/
}

@media screen and (min-width:1200px) {
    .menu>li:not(.menu-text)>a {
        padding: 1rem .6rem;
    }

    header .top-bar .top-bar-left {
        float: right;
    }
}

/* ==========================================================================
   3. Footer
   ========================================================================== */

footer h2,
footer .ft-bottom {
    text-align: center;
}

/*footer {text-transform:uppercase;}*/
footer span {
    font-weight: 700;
}

footer .ft-support-links {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #000000;
    color: #666666;
    font-weight: 400;
}

footer .ft-support-links h2 {
    margin-bottom: 30px;
}

footer .ft-support-links h4 {
    color: #ffffff;
    font-size: 1.2rem;
}

#footer-logo {
    margin-bottom: 25px;
}

.footer-desc {
    text-transform: none;
}

.ft-support-links .footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.ft-support-links .footer-social a {
    padding: 5px;
    border-radius: 100%;
    color: #666666;
    font-size: 1.5rem;
    border: 2px solid #666666;
}

.ft-support-links .footer-social .fa {
    width: 33px;
    text-align: center;
}

.ft-support-links .column.medium-3 {
    margin-top: 30px;
}

.ft-support-links .column.medium-3:first-child {
    margin-top: 0px;
}

.ft-support-links #location .fa,
.ft-support-links #hours .fa {
    float: left;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    color: #ff7200;
}

.ft-support-links #location .fa {
    margin-bottom: 50px;
}

.ft-support-links #location .fa-phone {
    margin-bottom: 0;
}

.ft-support-links #hours .fa {
    margin-bottom: 20px;
}

.ft-support-links input {
    color: #666666;
    border: 1px solid #666666;
    background: transparent;
    font-size: .8rem;
    font-weight: 700;
    padding: .7rem;
}

.ft-support-links ::-moz-placeholder {
    color: #666666;
    text-transform: uppercase;
}

.ft-support-links :-ms-input-placeholder {
    color: #666666;
    text-transform: uppercase;
}

.ft-support-links ::-webkit-input-placeholder {
    color: #666666;
    text-transform: uppercase;
}

.ft-support-links .ft-quick-links a {
    display: block;
    font-weight: 700;
    padding: 20px 0;
    border-top: 1px solid #666666;
    text-transform: uppercase;
}

footer .ft-bottom p,
footer .ft-bottom .divider {
    display: inline-block;
    font-size: 1rem
}

footer .ft-bottom .divider {
    padding: 0 25px;
}

footer .ft-support-links a {
    color: #666666;
    font-size: 1rem;
}

footer .ft-support-links span {
    font-weight: 400;
}

footer .ft-support-links ul {
    list-style-type: none;
    margin: 0;
}

footer .ft-support-links div div:first-child {
    border-bottom: 1px solid #000000;
}

footer .ft-support-links div ul {
    padding-top: 10px;
    padding-bottom: 15px;
}

footer .ft-bottom {
    font-weight: 500;
    background: url('/images/tear-black.png') top left repeat-x;
}

footer .ft-bottom p {
    line-height: 7.18rem;
    text-transform: uppercase;
}

footer .ft-bottom a {
    margin-left: 10px;
}

@media screen and (max-width:480px) {
    footer .ft-bottom {
        text-align: center;
        padding: 30px 0;
    }

    footer .ft-bottom .divider {
        display: none;
    }

    footer .ft-bottom p {
        line-height: 1rem;
        font-size: .78rem;
        margin-bottom: 0;
    }

    footer .ft-bottom p span {
        font-size: .9rem;
    }

    footer .ft-bottom .column,
    footer .ft-bottom .column:last-child {
        text-align: center;
    }

    footer .ft-support-links {
        margin-bottom: 0px;
    }

    footer .ft-support-links h2 {
        margin-bottom: 0;
        border-bottom: 1px solid #000000;
    }

    footer .ft-support-links div ul {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    footer .ft-support-links div div:first-child {
        border-bottom: 0;
    }

    footer .ft-support-links .medium-10 {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    footer .ft-support-links .small-6 {
        min-height: 200px;
    }
}

/* ==========================================================================
   4.1 Brands Pages
   ========================================================================== */

.brand-container {
    padding-bottom: 4rem;
}

.products-list li {
    padding-top: .75rem;
}

.products-list li a,
.products-list>div a {
    display: block;
    padding: 1rem 0;
}

.hover-item,
.hover-item .fitment-quickview {
    position: relative;
    display: block;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
    text-align: center;
    /* border: 1px solid #fefefe;*/
}

.hover-item:hover {
    border-color: #ccc;
}

.hover-item .info,
.hover-item .fitment-quickview {
    position: relative;
    margin-top: -1rem;
    padding: 1rem 0;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    background-color: transparent;
}

.hover-item:hover .info {
    background-color: #333333;
}

.hover-item .sizes,
.hover-item .fitment-quickview {
    font-size: .8125rem;
    position: absolute;
    top: 100%;
    bottom: 10rem;
    width: 100%;
    -webkit-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    color: #fefefe;
}

.hover-item .sizes {
    font-size: inherit;
    position: static;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #ff7200;
    opacity: 0;
}

.hover-item .sizes a,
.hover-item .fitment-quickview a {
    color: #000000;
    font-weight: 700;
    font-size: 1.4em;
    font-style: italic;
}

.hover-item .sizes a {
    color: #000000;
    font-weight: 700;
    font-size: 1.4em;
    font-style: italic;
}

.hover-item:hover .sizes,
.hover-item:hover .fitment-quickview {
    top: auto;
}

.hover-item:hover .sizes {
    opacity: 1;

}

.hover-item #quickview-open,
.hover-item .sizes #quickview-open {
    background-color: #ff7200;
    font-style: normal;
    margin-bottom: 0;
    color: #eeeeee;
    font-weight: 700;
    font-size: 1.4em;
}

.hover-item .sizes #quickview-open:hover {
    color: #ffffff;
}

.hover-item .sizes .wheel-details,
.hover-item .fitment-quickview a {
    font-style: normal;
}

.hover-item h6 {
    color: #545454;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.hover-item h6,
.hover-item h6 small {
    color: #545454;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.hover-item:hover .info h6,
.hover-item:hover h6 small {
    color: #ffffff;
}

.hover-item img {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.hover-item:hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hover-item .new-wheel {
    position: relative;
    z-index: 1;
}

.hover-item .new-wheel:before {
    position: absolute;
    top: -55px;
    left: -55px;
    width: 110px;
    height: 110px;
    content: '';
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #ff7200;
}

.hover-item .new-wheel span {
    font-size: .875rem;
    line-height: 1;
    position: absolute;
    top: 6px;
    left: 8px;
}

.parallax {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    text-align: center;
}

.parallax h1,
.parallax h2 {
    position: relative;
    padding: 1.8rem;
}

.parallax h1 img {
    padding-bottom: 1rem;
}

.parallax h1 {
    letter-spacing: 0;
}

.parallax .img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parallax .img.bg-top {
    background-position: center top;
}

.parallax .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .4;
    background: #000;
}

.no-results {
    font-size: 2.1rem;
}

#quickview-popup {
    max-width: 600px;
    background-color: #ff7200;
    padding: 0px;
}

#quickview-popup .quickview-info {
    color: #ffffff;
    text-transform: uppercase;
    font-size: .9em;
    padding: 20px;
    font-weight: 700;
}

#quickview-popup .popup-wheellink {
    float: right;
    margin-top: -50px;
    background-color: #000000;
}

/* wheel header filter */
.product-filter {
    text-align: center;
    padding-top: 30px;
}

.product-filter h5 {
    background-color: transparent;
    font-size: 1.3rem;
}

#wheel-search .filter-menu {
    display: inline-block;
    padding: 0 5px;
}

/* wheel fitment guide header */
.wheels-with-fitment-pg .parallax {
    margin-bottom: 0;
}

.fitment-guide-header {
    text-align: center;
    background-color: #e0e0e0;
    color: #000000;
    padding: 25px;
    margin-bottom: 1.5rem;
}

.fitment-guide-header h3 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.fitment-guide-header h3 div {
    display: inline-block;
    padding: 0px 5px;

}

.fitment-guide-header .fitment-change-vehicle {
    font-weight: 400;
}

@media only screen and (min-width: 40rem) {
    .products-list h2 {
        font-size: 2rem;
    }

    .parallax h1.padded {
        padding: 2.7rem;
    }
}

/* ==========================================================================
   4.2 Detail Pages
   ========================================================================== */

#specs {
    overflow: auto;
    margin-bottom: 1.25rem;
}

#tech-specs {
    position: relative;
    top: -6.6rem;
    display: block;
    visibility: hidden;
}

#wheel .flex-video.widescreen {
    padding-bottom: 48.3%;
}

#wheel .video-wrapper {
    overflow: hidden;
    max-height: 360px;
}

#detail-top p {
    font-size: 1rem;
}

#detail-top .menu.simple>li {
    display: inline-block;
    float: none;
}

#detail-top .images {
    position: relative;
}

#detail-top .main-image {
    margin-bottom: 0;
}

#detail-top .alt-images .slick-track {
    margin: 0 auto;
}

#detail-top .alt-images a {
    margin-right: 0;
    padding: .7rem;
}

#detail-top .detail-title h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: none;
}

/*#detail-top .slick-slide img {
    margin:0 auto;
}*/
.detail-sizes p:last-child {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 25px;
}

#wheel .gallery-list {
    margin: 0;
    padding: 1px 0 0 1px;
}

#wheel .gallery-list>li {
    padding: 0 1px 1px 0;
}

#wheel .gallery-list.row {
    max-width: none;
}

.detail-thumbs p {
    line-height: 1;
    margin: .25rem;
}

.detail-thumbs strong {
    font-family: 'Montserrat', sans-serif;
}

.detail-thumbs .finish-name {
    font-size: .8rem;
    color: #505050;
}

.detail-thumbs img,
.alt-images img {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.detail-thumbs img:hover,
.alt-images img:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#detail-top .button-group .button {
    font-size: .8125rem;
}

#detail-top .button-group .button:active,
#detail-top .button-group .button:focus {
    background-color: #ff7200;
}

.brand-details .accordion-navigation i {
    margin-top: .25rem;
}

.find-dealer .button {
    margin-top: .5rem;
}

.wheel-gallery-figure .mfp-title {
    padding-top: .5rem;
    padding-bottom: .75rem;
    text-align: center;
    color: #999;
    background: #fff;
}

.wheel-gallery-figure h5,
.wheel-gallery-figure p {
    margin-bottom: 0;
}

.wheel-gallery-figure .mfp-counter {
    top: .5rem;
    right: .5rem;
    color: #999;
}

/*.see-on-vehicle-detail {
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
}*/
#see-on-vehicle-detail select {
    font-size: .875rem;
}

#see-on-vehicle-detail .error {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#see-on-vehicle-detail .no-fitment {
    position: relative;
    min-height: 6rem;
}

#see-on-vehicle-detail .no-fitment:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .8;
    background: #fefefe;
}

#see-on-vehicle-detail .no-fitment .error {
    display: block;
}

@media only screen and (min-width: 40.063em) {

    /* min-width 641px, medium screens */
    #detail-top .detail-title h2 {
        font-size: 25px;
    }
}

#detail-top .available-sizes {
    font-weight: 500;
}

#detail-top .available-sizes p:last-child {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

/* Details CTA ///////////////////////////////////*/
.details-cta>div {
    max-width: 500px;
}

/* Additional Wheels - Fitment ///////////////////////////////////*/
.additional-fitment {
    border-top: 1px solid #cccccc;
}

.additional-fitment p {
    font-weight: 500;
    margin: 0px;
    padding: 10px;
}

.additional-fitment p>a {
    text-transform: uppercase;
    font-size: 0.95rem;
}

.additional-fitment h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
}

.additional-fitment h6.red {
    color: #ff4747;
}

/* Wheel Gallery ///////////////////////////////////*/
.int.site-content #wheel.detail .gallery .h2 {
    font-weight: 900;
    letter-spacing: 0;
    text-transform: none;
    font-size: 32px;
    text-transform: uppercase;
}


/* Technical specifications ///////////////////////////////////*/
.int.site-content #wheel.detail .specs h2 {
    font-weight: 900;
    letter-spacing: 0;
    text-transform: none;
    font-size: 32px;
    text-transform: uppercase;
}

.spec-size-tabs {
    background-color: #ffffff;
}

.tabs-title>a {
    background-color: #f0f0f0;
    color: #989898;
    text-align: center;
    font-size: 1.2rem;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.tabs-title>a:hover {
    background-color: #515151;
    color: #fefefe;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected=true] {
    background-color: #707070;
    color: #fefefe;
}

.tabs-panel {
    padding: 0;
}


/* ==========================================================================
   5.1 Tire Detail Page
   ========================================================================== */
.brand-details_header {
    font-size: 2.5rem;
}


/* ==========================================================================
   6.1 Gallery Header
   ========================================================================== */

#gallery #gallery-header {
    padding-bottom: 30px;
}

#gallery-header .accordion {
    margin-bottom: 0;
}

#gallery-header .accordion-title {
    font-size: 1.1rem;
    color: #ff7200;
}

/* ==========================================================================
   6.2 Gallery Landing Page
   ========================================================================== */
#gallery h4 {
    font-weight: 500;
}

#gallery .content-description {
    padding-bottom: 20px;
}

#gallery .content-description a {
    font-size: inherit;
}

#gallery .content-description h1 {
    font-size: 2.5rem;
    line-height: 1;
}

.gallery-list.hover-list.full-width.row.collapse {
    max-width: none;
}

.gallery-list img {
    width: 100%;
}

.hover-list {
    padding: 1px 0 0 1px;
}

.hover-list a {
    position: relative;
    display: block;
    padding: 0 1px 1px 0;
}

.hover-list a:before {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    background: rgba(255, 255, 255, 0);
}

.hover-list a:after {
    font-size: 1.1rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    width: 90%;
    margin: -1em 5% 0;
    padding-bottom: 2em;
    content: attr(title);
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    color: #ff7200;
    filter: alpha(opacity=0);
}

.hover-list a.red:after {
    font-weight: 300;
    color: #fefefe;
}

.hover-list a:hover:before {
    background: rgba(255, 255, 255, .9);
}

.hover-list a:hover:after {
    opacity: 1;
}

.hover-list a.red:hover:before {
    background: rgba(223, 61, 61, .9);
}

#infscr-loading {
    width: 100%;
    text-align: center;
    color: #333;
}

#infscr-loading img {
    display: none;
}

#gallery-spinner {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
    color: #333;
}

#gallery-specs {
    padding-bottom: 100px;
}

/* ==========================================================================
   6.3 Gallery Detail Page
   ========================================================================== */

#gallery-main-image img {
    width: 100%;
}

#gallery-main-image .slick-prev:before,
#gallery-main-image .slick-next:before {
    font-family: 'FontAwesome';
    font-size: 24px;
    opacity: 1;
    color: #ff7200;
}

#gallery-main-image .slick-prev:before {
    content: '\f053';
}

#gallery-main-image .slick-next:before {
    content: '\f054';
}

.int.site-content #gallery-vehicle h1 {
    font-size: 2rem;
}

@media screen and (max-width: 640px) {
    .int.site-content #gallery-vehicle h1 {
        font-size: 1.7rem;
    }
}


/* ==========================================================================
   7.1 Home Page
   ========================================================================== */

.hp-btn-links a {
    background-color: #ff4747;
    color: #ffffff;
    max-width: 210px;
    font-weight: 900;
    display: block;
    border-radius: 25px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.hp-hero .row,
.hp-featured .row {
    max-width: none;
}

@media screen and (max-width:480px) {
    .hp-btn-links a {
        margin: 0 auto;
    }
}

/* Hero */
/*.hp-hero {background:url('/images/hp-hero-bg.png') top left no-repeat; text-align:center;}*/
.hp-hero {
    text-align: center;
}

.hp-hero .row .parallax::after {
    background: url('/images/tear-white-reverse.png') bottom left repeat-x;
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 15px;
}

.hp-hero .hp-slider {
    position: relative;
}

.hp-hero .hp-slider .slider-image::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hp-hero .hp-slider img {
    width: 100%;
}

.hp-hero .hp-slider .slider-caption {
    position: absolute;
    width: 100%;
    bottom: 38%;
    z-index: 10;
    color: #ffffff;
    padding-right: .9365rem;
    padding-left: .9375rem;
    text-align: left;
}

.hp-hero .hp-slider .slider-caption .slider-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

.hp-hero .slick-slide {
    position: relative;
}

.hp-hero .slick-slider {
    margin-bottom: 0px;
}

.hp-hero .parallax {
    margin-bottom: 0;
}

.hp-hero .parallax .img:after {
    position: inherit;
}

.hp-hero-content {
    position: relative;
    z-index: 10;
}

.hp-hero .slider-caption .fa {
    background-color: #ff7200;
    border-radius: 100%;
    font-size: 10rem;
    padding: 42px;
}

.hp-hero .slider-caption h1 {
    font-size: 3.5rem;
    padding: 0;
    color: #ffffff;
    margin-bottom: 15px;
}

.hp-hero .slider-caption h4 {
    /*font-size:1.8rem;*/
    margin-bottom: 15px;
}

.hp-hero .slider-caption img {
    width: initial;
}

.hp-hero .slider-caption a {
    display: inline-block;
    background-color: #ff7200;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
}


.hp-hero .slick-dots {
    bottom: 50px;
    z-index: 20;
}

.hp-hero .slick-dots li {
    width: auto;
    height: auto;
}

.hp-hero .slick-dots button {
    width: 180px;
    height: auto;
}

.hp-hero .slick-dots li button:before {
    color: transparent;
}

.hp-hero .slick-dots button p {
    background-color: #ff7200;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 5px;
}

.hp-hero .slick-dots .slick-active img {
    border: 2px solid #ffffff;
}

.hp-hero .slick-thumbs {
    display: none;
}

.hp-hero .slick-prev,
.hp-hero .slick-next {
    top: auto;
    font-size: 3rem;
    background-color: #ffffff;
    z-index: 25;
    bottom: 130px;
}

.hp-hero .slick-next {
    right: 0px
}

.hp-hero .new-arrow-right,
.hp-hero .new-arrow-left {
    position: absolute;
    background-color: #ffffff;
    font-size: 2rem;
    z-index: 25;
    padding: 15px;
}

.hp-hero .new-arrow-right:hover,
.hp-hero .new-arrow-left:hover {
    cursor: pointer;
}

.hp-hero .new-arrow-right {
    right: 0;
}

.hp-hero .new-arrow-left {
    left: 0;
}

.hp-hero #slider-arrows {
    position: relative;
    margin: 0 auto;
    width: 900px;
    bottom: 175px;
}



.hp-hero .hero-text {
    position: absolute;
    bottom: 8%;
    color: #ffffff;
    z-index: 5;
}

.hp-hero .hero-text h1,
.hp-hero .hero-text h4 {
    color: #ffffff;
    text-transform: uppercase;
    transform: initial !important;
    position: static;
    margin: 0px;
    padding: 0px;
}

.hp-hero .hero-text h1 {
    font-size: 1.9rem;
    line-height: 1;
    padding-bottom: 20px;
}

.hp-hero .hero-text h4,
.hp-hero .slider-caption h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.hp-hero .side-bars {
    position: absolute;
    bottom: 20%;
    left: 33%;
    width: 33%;
    font-size: .8rem;
}

.hp-hero .side-bars:before,
.hp-hero .side-bars:after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 64%;
    height: 1px;
    content: '';
    border-top: 1px solid #fff;
    display: none;
}

.hp-hero .side-bars:before {
    right: 65%;
    left: 0;
}

.hp-hero .side-bars:before,
.hp-hero .side-bars:after {
    height: 6px;
    border-top-width: 2px;
    border-bottom: 1px solid #fff;
}

.hp-hero .scroll-arrow .fa {
    font-size: 1rem;
}



@media screen and (max-width: 480px) {
    .hp-hero .row {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 640px) {
    .hp-hero .slider-caption h1 {
        font-size: 1.5rem;
    }

    .hp-hero .slider-caption h4 {
        font-size: .9rem;
    }
}

@media screen and (max-width: 800px) {
    .hp-hero .slick-slider {
        transform: initial !important;
    }
}

@media screen and (max-width: 1024px) {
    .hp-hero .hp-slider .slider-caption {
        top: 12%;
        text-align: center;
    }
}

@media only screen and (max-width:

/*64em*/
1200px) {
    .hp-hero .slick-dots {
        display: none !important;
    }

    .hp-hero #slider-arrows {
        display: none;
    }

    .hp-hero .slider-caption a {
        padding: 10px;
        font-size: .8rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .hp-hero .hero-text h1 {
        font-size: 2.5rem;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 800px) {
    .hp-hero .slider-caption h4 {
        font-size: 2rem;
    }

    .hp-hero .hero-text h1 {
        font-size: 4rem;
        padding-bottom: 75px;
    }

    .hp-hero .side-bars {
        font-size: 1rem;
    }

    .hp-hero .scroll-arrow .fa {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    .hp-hero .hero-text h1 {
        font-size: 5rem;
        padding-bottom: 100px;
    }

    /*.hp-hero .slider-caption h4 {font-size:3rem;}*/
    .hp-hero .side-bars {
        font-size: 1.2rem;
    }

    .hp-hero .side-bars:before,
    .hp-hero .side-bars:after {
        display: block
    }

    .hp-hero .scroll-arrow .fa {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1140px) {
    .hp-hero .hero-text h1 {
        font-size: 5.1rem;
    }
}

@media only screen and (min-width:1024px) and (max-width: 1200px) {
    .hp-hero .hp-slider .slider-caption {
        top: 35%;
    }
}

@media only screen and (min-width: 1140px) {
    .hp-hero .hero-text h1 {
        font-size: 7.5rem;
        padding-bottom: 150px;
    }
}


/* Featured Section */
.hp-featured {
    padding: 25px 0;
}

.hp-featured h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.hp-featured .hp-btn-links a {
    margin: 0 auto;
}

.hp-featured .hover-item h6 {
    font-size: 1rem;
}

.hp-featured .info .sizes {
    display: none;
}

@media only screen and (min-width: 40.063em) {
    .hp-featured h2 {
        font-size: 2.1rem;
    }

    .hp-featured .hover-item h6 {
        font-size: 1.2rem;
    }

    .hp-featured .info .sizes {
        display: block;
    }
}

/* min-width 641px, medium screens */

/*
.hp-featured a {position:relative; display:block; text-align:center; text-transform: uppercase; padding-bottom:100%;}
.hp-featured .row div:first-child a {border-right:1px solid #ffffff;}
.hp-featured .row div:last-child a {border-left:1px solid #ffffff;}

.hp-featured a::before {
    position: absolute;
    content: '';
    background: rgba(0,0,0,.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.hp-featured a:hover::before {
    position: absolute;
    content: '';
    background: rgba(0,0,0,.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hp-featured h5 {position:absolute; bottom:20%; width:100%;}
.hp-featured .logo {
    position:absolute;
    left:25%;
    top:50%;
    -webkit-transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
}
@media screen and (max-width: 640px) {
    .hp-featured a {border-bottom:1px solid #ffffff;}
    .hp-featured .row div:first-child a {border-right:0}
    .hp-featured .row div:last-child a {border-left:0}
}
*/

/* iConfigurator Section */
.hp-iconfigurator {
    background: url('/images/hp-iconfigurator-bg.jpg')top left no-repeat;
    background-size: cover;
}

.hp-iconfigurator h2,
.hp-iconfigurator p {
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.hp-iconfigurator h2 {
    padding-top: 30px;
    font-size: 1.6rem;
}

.hp-iconfigurator p {
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 20px;
}

.hp-iconfigurator .columns {
    position: relative;
}

.hp-iconfigurator .columns img {
    position: relative;
    z-index: 0;
    max-width: 180%;
    opacity: 1;
}

.hp-iconfigurator .columns:nth-child(2) img {
    padding-top: 10px;
}

.hp-iconfigurator .columns:nth-child(3) img {
    right: 30%;
    z-index: 1;
    padding-top: 25px;
}

.hp-iconfigurator .columns.end img {
    position: absolute;
    right: 5%;
}

.hp-iconfigurator .hp-btn-links {
    padding-top: 20px;
    padding-bottom: 60px;
}

.hp-iconfigurator .hp-btn-links a {
    margin: 0 auto;
    max-width: 455px;
    font-size: 1.2rem;
}

@media only screen and (min-width: 40.063em) {
    .hp-iconfigurator {
        min-height: 500px;
    }

    .hp-iconfigurator p {
        font-size: 1.4rem;
    }

    .hp-iconfigurator h2 {
        font-size: 2.1rem;
        padding-top: 65px;
    }

    .hp-iconfigurator .columns img {
        opacity: 0;
    }

    .hp-iconfigurator .columns:nth-child(2) img {
        padding-top: 50px;
    }

    .hp-iconfigurator .columns:nth-child(3) img {
        padding-top: 100px;
    }

    .hp-iconfigurator .hp-btn-links a {
        font-size: 1.5rem;
    }
}

/* min-width 641px, medium screens */




/* Accessories Section */
.hp-accessories {
    background: url('/images/hp-accessories-bg.jpg')top left no-repeat;
    min-height: 500px;
}

.hp-accessories h2 {
    font-size: 2rem;
    line-height: 1;
    border-bottom: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 25px;
}

/*.hp-accessories .row {
    padding-top:90px;
}*/
.hp-accessories .row div:first-child {
    display: none;
}

@media screen and (max-width:40.063em) {
    .hp-accessories {
        background: transparent;
        text-align: center;
    }

    .hp-accessories .row {
        padding-top: 0px;
    }

    .hp-accessories .row div:first-child {
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 64.063em) {
    .hp-accessories h2 {
        font-size: 3.6rem;
        padding-top: 75px;
    }
}







/* Find A Dealer Section */
.hp-find-dealer {
    background-color: #ff4747;
    color: #ffffff;
}

/*.hp-find-dealer p, .hp-find-dealer h3 {padding-top:85px; padding-bottom:85px;}*/
.hp-find-dealer h3 {
    color: #ffffff;
    margin: 0px;
}

.hp-find-dealer .hp-btn-links a {
    background-color: #000000;
    margin: 5px 0px;
}

.hp-find-dealer .row div {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width:640px) {
    .hp-find-dealer {
        text-align: center;
        padding-top: 15px;
    }

    .hp-find-dealer .row div {
        padding: 0;
    }

    .hp-find-dealer .hp-btn-links a {
        margin: 10px auto;
    }
}

/* Gallery Section */
.hp-gallery {
    min-height: 500px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.hp-gallery::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hp-gallery .row {
    position: relative;
    padding-top: 70px;
}

.hp-gallery .row.expanded {
    padding-top: 0px;
}

.hp-gallery h2,
.hp-gallery p {
    line-height: 1.2;
}

.hp-gallery h2 {
    color: #ffffff;
    margin-bottom: 0px;
}

.hp-gallery p {
    font-weight: 500;
    line-height: 1.6;
}

.hp-gallery .hp-btn-links a {
    margin: 0 auto;
}

.hp-gallery .hp-gallery-bg {
    position: absolute;
    max-height: 500px;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

/*.hp-gallery .hp-gallery-bg div {display:inline-block;}*/
.hp-gallery .hp-gallery-bg .column {
    padding: .15rem;
}

.hp-gallery .hp-gallery-bg .column img {
    width: 100%;
}


@media only screen {}

/* Define mobile styles */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) {
    .hp-gallery {
        min-height: 615px;
    }

    .hp-gallery .row {
        padding-top: 200px;
    }

    .hp-gallery .hp-gallery-bg {
        position: absolute;
        max-height: 615px;
    }
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) {}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */


@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xxlarge screens */

/*// Custom ////////////////////*/
.hp-custom-vehicle {
    padding-top: 45px;
}

.hp-custom-vehicle>div div {
    padding-bottom: 10px;
}

@media only screen and (min-width:40rem) {
    .hp-custom-vehicle {
        padding-bottom: 15px;
    }
}

/*// specialization //////////////*/
.hp-specialization {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
}

.lowerlink>div {
    display: inline-block;
    font-size: .8rem;
    padding: 10px 20px;
    border-bottom: 3px solid #ff7200;
    text-transform: uppercase;
    width: 215px;
    font-family: 'Montserrat', sans-serif;
}

.lowerlink>div:first-child {
    text-align: right;
    white-space: nowrap;
}

.lowerlink>div:nth-child(2) {
    padding: 0;
    border: 0;
    width: auto;
    position: relative;
    top: 15px;
    z-index: 20;
}

.lowerlink>div:last-child {
    text-align: left;
}

.lowerlink .fa {
    border-radius: 100%;
    border: 3px solid #ff7200;
    font-size: 2rem;
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 15px;
}

@media only screen and (max-width: 40em) {
    .hp-specialization {
        padding: 15px 0 30px;
    }
}

/*// new /////////////*/
.hp-new {
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    /*background:url('/images/bg-what-new.jpg') center center no-repeat;*/
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 10;
}

.hp-new:before {
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/images/tear-white.png') top center repeat-x;
}

.hp-new:after {
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/images/tear-black-reverse.png') bottom center repeat-x;
}

.hp-new-parallax {
    margin-bottom: 0;
    background-color: #000000;
}

.hp-new-parallax .img {
    bottom: 70%;
    margin-bottom: 0;
}

.hp-new h2 {
    color: #a3a3a3;
}

.hp-new ul {
    list-style: none;
    text-align: left;
}

.hp-new li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    font-weight: 900;
    margin-top: 3px;
    font-size: 1.2rem;
}

.hp-new-content {
    padding: 80px 0;
}

.hp-new-content img {
    border: 1px solid #ffffff;
}

.hp-new .lowerlink .fa {
    padding: 15px 18px;
    width: 70px;
    height: 70px;
}

.hp-new .lowerlink>div {
    padding: 10px 0;
    width: 230px;
}

.hp-new .lowerlink>div:nth-child(2) {
    width: auto;
}

.hp-new .lowerlink>div:first-child {
    text-align: left;
}

.hp-new .lowerlink>div:last-child {
    text-align: right;
    padding-right: 15px;
}

@media only screen and (max-width: 40em) {
    .hp-new {
        padding: 30px 0;
    }

    .hp-new-content {
        padding: 30px 0;
    }

    .hp-new-content h4 {
        font-size: 1rem;
    }
}

/*// Why / Explanation ///////////*/
.hp-explanation {
    background: url('/images/bg-why.jpg')center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.hp-explanation ul {
    margin: 0;
    list-style: none;
    padding-top: 125px;
}

.hp-explanation li {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 3px solid #ff7200;
    margin: 55px 0;
    line-height: 1.25;
}

.hp-explanation img {
    padding-top: 60px;
}

.hp-explanation a {
    display: block;
    max-width: 210px;
    color: #ffffff;
    background-color: #ff7200;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.hp-explanation-list {
    font-size: .8rem;
}

.hp-explanation .hp-left-list {
    text-align: right;
}

.hp-explanation .hp-left-list li {
    padding-right: 20px;
}

.hp-explanation .hp-left-list .fa {
    right: -63px;
}

.hp-explanation .hp-right-list {
    text-align: left;
}

.hp-explanation .hp-right-list li {
    padding-left: 20px;
}

.hp-explanation .hp-right-list li:first-child {
    padding-top: 15px;
}

.hp-explanation .hp-right-list .fa {
    left: -63px;
    padding: 15px;
}

.hp-explanation .fa {
    border-radius: 100%;
    border: 3px solid #ff7200;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 15px 5px;
    position: absolute;
    top: -10px;
}


/*// About Section /////////////*/
.hp-about {
    text-align: center;
    padding: 60px 0;
    background: url('/images/tear-black.png')top left repeat-x;
}

.hp-about .hp-about-cta {
    text-align: left;
    padding: 80px 0;
}

.hp-about .hp-about-cta h4 a {
    font-size: 1.125rem;
    color: inherit;
}

.hp-about .hp-about-cta-icon {
    float: left;
    margin-bottom: 85px;
    margin-right: 15px;
}

.hp-about-icon .column {
    width: 14%;
    display: inline-block;
    float: none;
}

.hp-about-icon .column:last-child:not(:first-child),
.hp-about-icon .columns:last-child:not(:first-child) {
    float: none;
}

@media only screen and (max-width: 40em) {
    .hp-about .hp-about-cta {
        padding: 30px 0;
    }

    .hp-about .hp-about-cta-icon {
        width: 20%;
    }

    .hp-about .hp-about-icon-mobile>.column {
        min-height: 65px;
    }
}

@media only screen and (min-width: 40em) {
    .hp-about .hp-about-cta h4 a {
        font-size: 1.5625rem;
    }
}


/* ==========================================================================
   7.2 Contact Page
   ========================================================================== */
#contact p,
#thanks p,
#contact li,
#thanks li,
#gallery p,
#gallery li {
    color: #999999;
    font-weight: 400;
    padding-top: 0px;
}

/*#contact h1, #thanks h1, #contact h3, #thanks h3 {
    font-weight:900;
}*/
#contact h3,
#thanks h3,
#gallery h3 {
    font-size: 2rem;
    margin-bottom: 0px;
}

#contact p.red {
    color: #ff4747;
    font-size: 1rem;
    font-weight: 600;
}

.page-content {
    padding-top: 3.5rem;
}

#contact .page-content h1 {
    font-size: 2.7rem;
}

#contact .page-content p {
    font-size: 1.1rem;
}

#form-left label {
    text-transform: uppercase;
}

#form-right li {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

/*#form-right .fa {
    font-size: 2.25rem;
}*/
#form-right h3 {
    font-size: 1.6rem;
    letter-spacing: -1px;
}

#form-right address {
    margin-bottom: 20px;
}

.page-content ::-webkit-input-placeholder {
    font-style: italic;
    color: #b3b3b3;
}

.page-content :-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #b3b3b3;
}

.page-content ::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #b3b3b3;
}

.page-content :-ms-input-placeholder {
    font-style: italic;
    color: #b3b3b3;
}

.page-content .button {
    padding: 25px 45px;
}

.page-content .please-note {
    font-style: italic;
    color: #000000;
    text-transform: none;
}

.page-content .please-note span {
    font-weight: 600;
}

.sidebar-content {
    padding-bottom: 25px;
}

.sidebar-content ul {
    margin: 0;
    list-style: none;
}

.sidebar-content a {
    color: #000000;
}

.sidebar-content .fa {
    float: left;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    color: #ff7200;
    margin-bottom: 45px;
}

#sidebar-location .fa-phone {
    margin-bottom: 0;
}

#sidebar-hours li {
    color: #000000;
}

@media only screen and (max-width: 1024px) {
    #contact .page-content h1 {
        font-size: 1.9rem;
    }
}


/* ==========================================================================
   7.3 Dealers Page
   ========================================================================== */


/* ==========================================================================
   7.4 News Pages
   ========================================================================== */

.news-article {
    position: relative;
    overflow: auto;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.news-article .timestamp {
    font-size: .8rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    text-align: center;
    color: #fefefe;
    background: #333;
}

.news-article .timestamp .date {
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.news-article img {
    border-bottom: 5px solid #ff4747;
}

.news-sidebar {
    padding: 1rem;
    background: #fbfbfb;
}

.news-sidebar li a {
    color: #505050;
}

.news-sidebar li a:hover {
    color: #ff4747;
}

#news-gallery {
    padding-top: 1.5rem;
    border-top: 1px solid #ccc;
}

/* ==========================================================================
   7.5 Configurator Page
   ========================================================================== */


/* ==========================================================================
   7.6 Fitment
   ========================================================================== */

.fancybox-inner {
    overflow: visible !important;
    height: 530px !important;
}

.fancybox-inner #vehicle-selects {
    overflow: auto;
}

.fancybox-inner #vehicle-selects select {
    float: left;
    width: 47%;
    margin-right: 1.5% !important;
    margin-left: 1.5%;
}

/* ==========================================================================
   7.7 Content Pages
   ========================================================================== */
#page {
    padding-bottom: 50px;
}

#page .page-content {
    padding-top: 50px;
}

#page h1,
#page h3 {
    font-weight: 900;
}

#page h1 {
    letter-spacing: 0;
}

/*
#page h2 {
    font-size:1.5rem;
    padding-bottom:25px;
    letter-spacing:0;
}
*/
#page .accordion-title {
    font-size: 1rem;
    color: #ff7200;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    #page ol {
        position: static !important;
        margin: 1.25rem !important;
    }
}

@media screen and (max-width:64em) {
    #page .page-content {
        padding-top: 0;
    }
}

/* ==========================================================================
   7.8 Media Page
   ========================================================================== */
#downloads {
    padding-bottom: 50px;
}

#downloads p,
#downloads a {
    font-size: 1.5rem;
    font-weight: 500;
}

#downloads h6,
#downloads h6 small {
    color: #545454;
}

#downloads h6 {
    font-size: 0.9rem;
}

#downloads .description {
    padding: 30px 0;
    font-weight: 600;
    color: #373737;
}

#downloads .logo {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1.5rem;
}

#downloads .logo a {
    letter-spacing: 0;
    text-transform: none;
}

/* ==========================================================================
   7.9 Accessories Page
   ========================================================================== */

.accessory-pg .products-list img {
    border: 1px solid #d1d1d1;
}

.accessory-pg .products-list small {
    line-height: 100%;
}

.accessory-pg .view-cart-container {
    position: relative;
}

.accessory-pg .view-cart {
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.accessory-pg #filter-search button {
    background-color: #ff4747;
    width: 100px;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 640px) {
    .accessory-pg .view-cart-container {
        display: none;
    }
}

/* ==========================================================================
   7.10 Accessories Detail
   ========================================================================== */

.accessory-detail #paypal-section li {
    display: inline-block;
    width: 150px;
}

.accessory-detail .images.medium-6 {
    max-height: 600px;
    height: 100% !important;
}

.accessory-detail .slick-slide {
    height: auto;
}

.accessory-detail .red {
    font-weight: 400;
}

.accessory-detail #detail-top .detail-title {
    padding-top: 50px;
}

.accessory-detail #detail-top .detail-title h2,
.accessory-detail #detail-top .detail-title h2 .red {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.accessory-detail #detail-top .detail-title h2 a {
    color: inherit;
    font-size: inherit;
}

/* ==========================================================================
   7.11 Filter Headers
   ========================================================================== */

.filter-header .accordion,
.filter-header .accordion-content {
    background: transparent;
    border: 0;
}

.filter-header {
    background-color: #e4e4e4;
    text-transform: uppercase;
    margin-top: -25px;
}

.filter-header ul {
    list-style-type: none;
    margin-left: 0;
    font-size: .95rem;
}

.filter-header label span {
    font-size: 1rem;
    font-weight: 700
}

.filter-header input[type=checkbox] {
    margin-bottom: 0rem;
}

.filter-header #filter-size ul

/*, .filter-header #filter-offset ul*/
    {
    max-height: 50px;
}

.filter-header #filter-size li

/*, .filter-header #filter-offset li*/
    {
    width: 50%;
    float: left;
}

.filter-header .accordion-title {
    font-size: 1.1rem;
    color: #ff4747;
}

/* ==========================================================================
   7.12 Interior
   ========================================================================== */
.int.site-content .parallax:after {
    background: url('/images/tear-white-reverse.png') left bottom repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.content-header {
    padding-top: 145px;
    text-align: left;
    padding-bottom: 35px;
}

.content-header>div:last-child {
    text-align: right;
}

.int.site-content .parallax .content-header>div {
    padding-top: 20px;
}

.content-header h5,
.content-header h2 {
    position: relative;
}

.int.site-content .parallax .content-header h1 {
    font-size: 2.5rem;
}

.content-header h2 {
    color: #ffffff;
    padding: 0;
    font-size: 2.1rem;
}

.content-header h5 {
    color: #ff7200;
    font-size: 1rem;
}

.int.site-content .parallax h1 {
    padding: 0;
}

.int.site-content .parallax .img:after {
    opacity: .7;
}

.int-specialist {
    background: url('/images/tear-footer.png') top center no-repeat;
    text-align: center;
    padding: 50px 0;
}

.int-specialist h4 {
    color: #666666;
    font-size: 1.7rem;
}

.int-specialist .fa {
    border-radius: 100%;
    background-color: #727272;
    color: #ffffff;
    padding: 20px;
}

.int-specialist a {
    background-color: #ff7200;
    padding: 20px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 300px;
    margin: 0 auto;
}

.int-specialist .row>div {
    padding-bottom: 30px;
}

@media only screen and (max-width: 1023px) {
    .content-header {
        padding-top: 0px;
    }

    .int.site-content .parallax .content-header h1 {
        font-size: 2rem;
    }

    .int-specialist h4 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width:1023px) and (max-width:1140px) {
    /*.content-header {padding-top:180px;}*/
}