<cfcomponent>
	<cfset This.name = "awtmotorsports">
	<!--- Each website needs its own app name. Very important --->
	<cfset This.Sessionmanagement=true>
	<cfset This.Sessiontimeout="#createtimespan(0,0,30,0)#">
	<cfset This.applicationtimeout="#createtimespan(5,0,0,0)#">
	<cfset This.s3.accessKeyID = "AKIAIREFFA7PPOH4DKFQ">
	<cfset This.s3.awsSecretKey = "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">
	<cfif findNoCase("vagrant", CGI.cf_template_path)>
		<cfset this.mappings['/models'] = "/vagrant-parent/modules/models">
		<cfset this.mappings['/controllers'] = "/vagrant-parent/modules/controllers">
	<cfelse>
		<cfset this.mappings['/models'] = "D:\Websites\modules\models">
		<cfset this.mappings['/controllers'] = "D:\Websites\modules\controllers">
	</cfif>
	<cfinclude template="../modules/_functions.cfm">

	<cffunction name="onApplicationStart">
		<!--- This is the area you should be customizing --->
		<cfset Application.websiteID = 10>
		<cfset Application.intMaxRows = 40> <!--- The default number of results that will appear on any 1 page --->
		<cfset Application.SYSTEMIMAGEPATH = "//images.iconfigurators.com/images/">
		<!--- font family is an array. Add as many as you need --->
		<cfset Application.arrFontFamily  = [ "Montserrat:400,700",
			"Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
		]>
		
		<cfif CGI.LOCAL_HOST == 'WIN-LN5UQP2V7LV'>
			<cfset Application.DSN = "Configurator2">
		<cfelse>
			<cfset Application.DSN = "configurator">
		</cfif>
		<cfinclude template="../modules/_settings.cfm"> 


		<cfset Application.WHEELSID = 5615>
		<cfset Application.GALLERYID = 5746>
		<cfset Application.TITLE = "AWT Motorsports">
		<cfset Application.TITLE2 = "AWT Motorsports Performance Specialists">
		<cfset Application.SLIDERID = 272>
		<cfset Application.SYSTEMPATH = "//www.awtmotorsports.com/">
		<cfset Application.contactTollFree = "(714) 990-2466">

		<cfinclude template="../modules/_function-bindings.cfm">
	</cffunction>

</cfcomponent>
